.footer{
    border-top: solid 1px rgb(218, 215, 215);
    position: sticky;
    bottom: 0;
    background: white;
    display: flex;
    justify-content: space-around; 
    align-items:center; 
    
    
}
.back{
    margin: 1rem;
    margin-right: 6.5rem;
}
.home{
    margin: 1rem;
    margin-right: 11rem; 
}
a{
    color: black;
}    