.post{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.borderItinerary{
    background-color: azure;
    position: relative;
    height: 2rem;
    padding: 0 3rem;
    top: -1rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    align-items:center;
    align-self: center;
   

}
.shado{
    box-shadow:
    0 2.5px 2.7px rgba(0, 0, 0, 0.056),
    0 6.1px 6.6px rgba(0, 0, 0, 0.081),
    0 11.4px 12.4px rgba(0, 0, 0, 0.1),
    0 20.3px 22.1px rgba(0, 0, 0, 0.119),
    0 38px 41.4px rgba(0, 0, 0, 0.144),
    0 91px 99px rgba(0, 0, 0, 0.2);
}