
 .menu_top{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgb(218, 215, 215);
  position: sticky;
  top: 0;
  background: white;
}
.logo_person {
 
  margin: 2rem 1.5rem;
 color: black;

}
.logo_menu{
  margin: 1rem 1.5rem;
    color: black;
   
  }
  
  .MuiSvgIcon-root {
    font-size: 1.5rem;
    color:black;
    margin-top: 1.5rem;
    margin-right: -1rem;
    margin-right: -6rem;
    margin-bottom: 1rem;
    margin-left: -5.5rem;
  }
  
  
  .MuiTypography-body1 {
    font-size: 1.2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-left:6rem;
  }
  .MuiListItem-root {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center ;
    text-decoration: none;
  }

  