
.button_center{
    display: flex;
    justify-content: center;
  }
  .button {
    
     margin-top: 2rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 2px 27px;
    border: 1px solid #a12727;
    border-radius: 7px;
    background: #f52020;
    background: -webkit-gradient(linear, left top, left bottom, from(#f52020), to(#a11491));
    background: -moz-linear-gradient(top, #f52020, #a11491);
    background: linear-gradient(to bottom, #f52020, #a11491);
    -webkit-box-shadow: #ff5959 0px 6px 53px 1px;
    -moz-box-shadow: #ff5959 0px 6px 53px 1px;
    box-shadow: #ff5959 0px 6px 53px 1px;
    text-shadow: #591717 1px 2px 5px;
    font: italic normal bold 19px trebuchet ms;
    color: #ffffff;
    text-decoration: none;
  }
  .button:hover,
  .button:focus {
    background: #ff2626;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2626), to(#c118ae));
    background: -moz-linear-gradient(top, #ff2626, #c118ae);
    background: linear-gradient(to bottom, #ff2626, #c118ae);
    color: #ffffff;
    text-decoration: none;
  }
  .button:active {
    background: #931313;
    background: -webkit-gradient(linear, left top, left bottom, from(#931313), to(#a11491));
    background: -moz-linear-gradient(top, #931313, #a11491);
    background: linear-gradient(to bottom, #931313, #a11491);
  }
  .button:before{
   
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -1px;
    left: -5px;
   
  }
  
  
  /***************************************/
  .fix_slaider {
    margin-top: 2rem;
  }
  .img-slider{
    width: 100%;
  }
  