
  .search_css img {
    width: 70%;
    border-radius:1rem ;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
    margin-top: 0.5rem;
    box-shadow:
    0 2.5px 2.7px rgba(0, 0, 0, 0.056),
    0 6.1px 6.6px rgba(0, 0, 0, 0.081),
    0 11.4px 12.4px rgba(0, 0, 0, 0.1),
    0 20.3px 22.1px rgba(0, 0, 0, 0.119),
    0 38px 41.4px rgba(0, 0, 0, 0.144),
    0 91px 99px rgba(0, 0, 0, 0.2);
}
.search_css{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    align-content:center;
}


.border{
    background-color: azure;
    position: relative;
    display: flex;
    justify-content: center;
    height: 2rem;
    padding: 0 3rem;
    top: -1rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}



.menuicon{
    
    margin-left: 5rem;

}
.MuiSvgIcon-root {
   
    font-size: 1.5rem;
    color:black;
    margin-top: 1.5rem;
    margin-right: -1rem;
    margin-bottom: 12rem;
}
.menu{
    margin-right:-34rem;
    position: relative;
    left:13rem;
}

.slick-dots, .slick-next, .slick-prev {
    position: sticky;
    display: block;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

:root {
    --blanco: #d6d1d1;
    --gris1: #c2c4c5;
    --gris3: #424b61;
    --negro: #000000;
    --headingFont:'Raleway', sans-serif;
    --textFont:  'Roboto', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 
  html {
    box-sizing: border-box;
    height: 100%;
    font-size:80%; 
  }
  body {
    min-height: 100%;
    background-color: var(--gris1);
    font-size: 16px; 
    font-size: 1.6rem;
    font-family: var(--textFont);
  }
  
  
  h1, h2 {
    font-family: var(--headingFont);
    font-weight: 900;
    margin: 0 0 4rem 0;
    text-align: center;
    color: var(--gris2);
  }
  h1 span {
    font-weight: 400;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: var(--gris2);
  }
  
  /** BOTONES **/
  .btn {
    margin-top: 2rem;
    font-family: var(--headingFont);
    padding: 1.5rem;
    font-size: 1.4;
    font-weight: 400;
    border-radius: .5rem;
    border: none;
    transition: background-color .3s ease;
  }
  .btn:hover {
    cursor: pointer;
  }
  .btn-primario {
    background-color: var(--gris2);
    color: var(--blanco);
  }
  .btn-primario:hover {
    background: var(--gris3);
  }
  .btn-secundario {
    background-color: var(--gris1);
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-submit:hover {
    background-color: var(--gris2);
  }
  .btn-blank {
    margin: 0;
    padding: 0;
    display: block;
    background-color: transparent;
  }
  
  @media (min-width: 768px) {
    .contenedor-app {
        display: flex;
        min-height: 100vh;
    }
  
  
  
}
  
  
  
  
  /** TAREAS LISTADO **/
  
  
  
  
  .sombra {
    -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
    -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
    box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  }
  .sombra-dark {
    -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
    box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  }
  .tarea .acciones .btn:first-of-type {
    margin-right: 1rem;
  }
  .tarea p {
    font-size: 1.6rem;
    flex: 1;
    padding-right: 2rem;
  }
  .tarea .btn {
    padding: .8rem;
    font-size:1.4rem;
    border-radius: 0;
    margin: 0;
  }
  
  .estado {
    margin-right: 1rem;
  }
  .estado button, 
  .mensaje {
    font-weight: 900;
    font-family: var(--textFont);
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
  }
  .mensaje {
    text-align: center;
    font-size: 1.6rem;
    border-radius: 0;
  }
  .mensaje:hover {
    cursor: default;
  }
  .completo,
  .correcto {
    background-color: rgba(154, 252, 154, .3);
    color: var(--gris3);
  }
  .incompleto{
    background-color: rgba(255, 178, 178, .4);
    color: var(--gris3);
  }
  .error {
    max-width: 600px;
    margin: 2rem auto 0 auto;
    background-color: rgb(170, 0, 0);
    color: var(--blanco);
  }
  
  
  
 
  

 
  
  .form-usuario {
      background-color: var(--gris2);
      height: 100vh;
      min-height: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .contenedor-form {
      padding: 5rem 3rem;
      max-width: 500px;
      width: 95%;
      background-color: var(--blanco);
      border-radius: 1rem;
  }
  
  .campo-form {
      display: flex;
      margin-bottom: 2rem;
      align-items: center;
  }
  .campo-form:last-of-type {
    margin: 0;
  }
  .campo-form label {
    flex: 0 0 100px;
    font-family: var(--textFont);
  }
  .campo-form input[type="password"],
  .campo-form input[type="email"], 
  .campo-form input[type="text"] {
    border: 1px solid #e1e1e1;
    padding: 1rem;
    flex: 1;
  }
  
  .enlace-cuenta {
    margin-top: 2rem;
    display: block;
    opacity: .7;
  }